### Manipulate Json file
1. Load in json file from an url
2. Load in json file from local
3. Load json file using pandas
4. Flatten json file to a dataframe
5. Export json file

In [5]:
import pandas as pd
import numpy as np
import json

### Load in json file from an url

In [6]:
import requests
url = "https://static01.nyt.com/elections-assets/2020/data/api/2020-11-03/state-page/pennsylvania.json"
request = requests.get(url)
text = json.loads(request.text)
text.keys()

dict_keys(['data', 'meta'])

In [12]:
from urllib.request import urlopen
jsonurl = urlopen(url)
text = json.loads(jsonurl.read())
text.keys()

dict_keys(['data', 'meta'])

### Load in json file from local

In [22]:
pwd = "/Users/eve/Desktop/Datasets/Compass/pennsylvania.json"
with open(pwd, 'r') as f:
    data = json.load(f)

In [24]:
data.keys()

dict_keys(['data', 'meta'])

### Load in json file using pandas

In [25]:
data = pd.read_json("/Users/eve/Desktop/Datasets/Compass/pennsylvania.json")
data

,data,meta
races,"[{'race_id': 'PA-G-P-2020-11-03', 'race_slug':...",NaN
party_control,"[{'race_type': 'house', 'state_id': '', 'neede...",NaN
liveUpdates,"[{'id': 'NY-G-H-22-2020-11-03-win-republican',...",NaN
version,NaN,25656
track,NaN,2020-11-03
timestamp,NaN,2021-04-25T00:31:45.031Z

### Flatten json file

In [27]:
import requests
url = "https://static01.nyt.com/elections-assets/2020/data/api/2020-11-03/state-page/pennsylvania.json"
request = requests.get(url)
text = json.loads(request.text)
text.keys()

dict_keys(['data', 'meta'])

In [28]:
pd.DataFrame.from_records(text)

,data,meta
races,"[{'race_id': 'PA-G-P-2020-11-03', 'race_slug':...",NaN
party_control,"[{'race_type': 'house', 'state_id': '', 'neede...",NaN
liveUpdates,"[{'id': 'NY-G-H-22-2020-11-03-win-republican',...",NaN
version,NaN,25656
track,NaN,2020-11-03
timestamp,NaN,2021-04-25T00:31:45.031Z

In [35]:
a = pd.DataFrame.from_records(text["data"]["races"])
a.head(2)

,race_id,race_slug,url,state_page_url,ap_polls_page,edison_exit_polls_page,race_type,election_type,election_date,runoff,...,expectations_text,expectations_text_short,absentee_ballot_deadline,absentee_postmark_deadline,update_sentences,race_diff,winnerCalledTimestamp,timeseries,nyt_race_description,nyt_key_race
0,PA-G-P-2020-11-03,pa-president-general-2020-11-03,https://www.nytimes.com/interactive/2020/11/03...,https://www.nytimes.com/interactive/2020/11/03...,https://www.nytimes.com/interactive/2020/11/03...,https://www.nytimes.com/interactive/2020/11/03...,president,general,2020-11-03,False,...,,,3,0,{'top_level': {'sentence': 'Joseph R. Biden Jr...,{'race_slug': 'pa-president-general-2020-11-03...,1.604767e+12,"[{'vote_shares': {'trumpd': 0, 'bidenj': 0}, '...",NaN,NaN
1,PA-G-H-1-2020-11-03,pa-house-general-district-001-2020-11-03,https://www.nytimes.com/interactive/2020/11/03...,https://www.nytimes.com/interactive/2020/11/03...,https://www.nytimes.com/interactive/2020/11/03...,https://www.nytimes.com/interactive/2020/11/03...,house,general,2020-11-03,False,...,,,3,0,"{'top_level': {'sentence': 'Brian Fitzpatrick,...",{'race_slug': 'pa-house-general-district-001-2...,1.604521e+12,"[{'vote_shares': {'fitzpatrickb': 0, 'finelloc...",NaN,NaN

In [38]:
text["data"]["races"][0]["candidates"][0]

{'candidate_id': 'biden-1036',
 'candidate_key': 'bidenj',
 'first_name': 'Joseph R.',
 'last_name': 'Biden',
 'order': 4,
 'name_display': 'Joseph R. Biden Jr.',
 'party_id': 'democrat',
 'incumbent': False,
 'runoff': False,
 'winner': True,
 'votes': 3459923,
 'percent': 50,
 'percent_display': '50.0',
 'electoral_votes': 20,
 'absentee_votes': 996482,
 'absentee_percent': 78.4,
 'img_url': 'https://static01.nyt.com/elections-assets/2020/assets/images/candidates/bidenj.png',
 'has_image': True,
 'link': 'https://www.nytimes.com/interactive/2020/us/elections/joe-biden.html',
 'pronoun': 'he'}

In [40]:
text["data"]["races"][0]["candidates"][0].get("candidate_key")

'bidenj'

In [42]:
for k in text['data']["races"][0]["candidates"][0].keys():
    print(k)

candidate_id
candidate_key
first_name
last_name
order
name_display
party_id
incumbent
runoff
winner
votes
percent
percent_display
electoral_votes
absentee_votes
absentee_percent
img_url
has_image
link
pronoun

### Save json file

In [43]:
data = {
    "president": {
        "name": "Zaphod Beeblebrox",
        "species": "Betelgeusian"
    }
}

In [44]:
# Method 1
with open("test.json", "w") as f:
    json.dump(data, f)

In [49]:
test2 = json.dumps(data)
test2

'{"president": {"name": "Zaphod Beeblebrox", "species": "Betelgeusian"}}'

### Compass interview

In [11]:
import pandas as pd
df = pd.read_json("/Users/eve/Desktop/Datasets/Compass/Compass_Json.json")
df.head(2)

,AC,AccessInstruction,ActualTax,Address,AddressInternet,Allow3rdPartyComments,AllowAutomatedValuations,AlsoListedAs,Area,AreaAmenities,...,HOATransferFee,EESFeatures,VideoTourLinkUnbranded,TaxBlock,TaxLot,VideoTourLinkBranded,OpenHouseUpcoming,RefusalHrs,DistancetoLightRail,DistancetoMetro
0,"Central Air,Seer Rated 13-15",None,478.28,2208 Lauren Dr,2208 Lauren Dr,0,0,4106333.0,LW,"Common Grounds,Game Room,General Aircraft Airp...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No A/C,See Remarks,NaN,18933 Barlow St,18933 Barlow St,0,1,NaN,OT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
len(df)

100

In [5]:
import json
with open("/Users/eve/Desktop/Datasets/Compass/Compass_Json.json", 'r') as f:
    text = json.load(f)

In [18]:
len(text)

100

### Q2: Print total number of listings with "BodyofWater" field

In [3]:
df["BodyofWater"].notnull().sum()

16

In [21]:
num = 0
for i in range(len(text)):
    if "BodyofWater" in text[i]:
        num += 1
print(num)

16

### Q3: Print total number of listings with more than 3 "BathsFull"

In [61]:
len(df[df["BathsFull"] > 3])

28

In [60]:
num = 0
for i in range(len(text)):
    if int(text[i]["BathsFull"]) > 3:
        num += 1
print(num)

28

### Q4: Find the "MLSNumber" and "ListPrice" of the listing with the maximum "ListPrice"

In [49]:
# Wrong answer
maximum = 0
index = 0

for ind, val in enumerate(df):
    if int(df.iloc[i]["ListPrice"]) > maximum:
        maximum = int(df.iloc[i]["ListPrice"])
        index = ind
print(df.iloc[index]["MLSNumber"])
print(df.iloc[index]["ListPrice"])

7391562
712911

In [52]:
max(df["ListPrice"])

37500000

In [53]:
df[df["ListPrice"] == max(df["ListPrice"])].index

Int64Index([73], dtype='int64')

In [57]:
df[df["ListPrice"] == max(df["ListPrice"])][["MLSNumber", "ListPrice"]]

    MLSNumber  ListPrice
73    5625677   37500000

In [48]:
# Correct answer
maximum = 0
index = 0

for i in range(len(text)):
    if float(text[i]["ListPrice"]) > maximum:
        maximum = float(text[i]["ListPrice"])
        index = i
print(text[index]["MLSNumber"])
print(text[index]["ListPrice"])

5625677
37500000.00

### Q5: Print a list of the unique values in the "Construction" field

In [62]:
set(df["Construction"])

{'2 Side Masonry',
 '3 Side Masonry',
 '3 Side Masonry,Brick Veneer,Stone Veneer',
 '3 Side Masonry,HardiPlank Type',
 '3 Side Masonry,HardiPlank Type,Stucco',
 'All Sides Masonry',
 'All Sides Masonry,Brick Veneer',
 'All Sides Masonry,Composition Shingle,Frame/Stone',
 'All Sides Masonry,Frame/Stone,Stucco',
 'All Sides Masonry,HardiPlank Type,Stone Veneer',
 'All Sides Masonry,Log',
 'All Sides Masonry,See Agent',
 'All Sides Masonry,Stone Veneer',
 'All Sides Masonry,Stone Veneer,Stucco',
 'All Sides Masonry,Stucco',
 'Alt Bldg System,See Agent',
 'Aluminum Siding,Brick Veneer',
 'Brick Veneer',
 'Clapboard,Stone Veneer',
 'Composition Shingle,Frame',
 'Concrete Block',
 'Frame',
 'Frame,HardiPlank Type',
 'Frame,Stone Veneer,Stucco',
 'Frame/Stone',
 'HardiPlank Type',
 'HardiPlank Type,See Agent',
 'See Agent',
 'Stone Veneer',
 'Stone Veneer,Stucco',
 'Stucco',
 'Vertical Siding',
 'Wood Shingle'}

In [74]:
# Wrong answer: but why?
hashmap = {}
for i in range(len(text)):
    if text[i]["Construction"] not in hashmap:
        hashmap[text[i]["Construction"]] = 1
    else:
        hashmap[text[i]["Construction"]] += 1

count = 0
for key, value in hashmap.items():
    if value == 1:
        count += 1
        print(key)
print(count)

Concrete Block
3 Side Masonry,HardiPlank Type,Stucco
2 Side Masonry
HardiPlank Type,See Agent
Aluminum Siding,Brick Veneer
Composition Shingle,Frame
Frame/Stone
All Sides Masonry,Log
Vertical Siding
All Sides Masonry,Frame/Stone,Stucco
Clapboard,Stone Veneer
All Sides Masonry,Composition Shingle,Frame/Stone
Frame,Stone Veneer,Stucco
All Sides Masonry,See Agent
Stone Veneer
Stucco
All Sides Masonry,Brick Veneer
3 Side Masonry,Brick Veneer,Stone Veneer
18

In [70]:
res = []
for i in range(len(text)):
    res.append(text[i]["Construction"])
len(set(res))

33

### Q6: Write a function to combine and sanitize "StreetNumber", "StreetName", "StreetSuffix", "StreetDirPrefix" into a full address. Ensure that you validate each field

In [77]:
df["StreetNumber"][0]

'2208'

In [79]:
df["full address"] = df["StreetNumber"] + " " + df["StreetName"] + " " + df["StreetSuffix"] + " " + df["StreetDirPrefix"]

In [83]:
df[df["full address"].notnull()]["full address"]

2            1349 Gray AVE N
27    6900 Highway 290 HWY W
32            1205 Mary ST W
41         801 Bluff DRivE N
75     215 Hauptstrasse ST N
Name: full address, dtype: object

In [84]:
address = []
for i in range(len(text)):
    if "StreetNumber" in text[i] and "StreetName" in text[i] and "StreetSuffix" in text[i] and "StreetDirPrefix" in text[i]:
        address.append(text[i]["StreetNumber"] + " " + text[i]["StreetName"] + " " + 
                      text[i]["StreetSuffix"] + " " + text[i]["StreetDirPrefix"])
address

['1349 Gray AVE N',
 '6900 Highway 290 HWY W',
 '1205 Mary ST W',
 '801 Bluff DRivE N',
 '215 Hauptstrasse ST N']

### Q7: Write a function to validate and sanitize agent names (ListAgentFullName and CoListAgentFullName)

In [92]:
df[["ListAgentFullName", "CoListAgentFullName"]].dropna().reset_index(drop = True)

     ListAgentFullName CoListAgentFullName
0     Jeanne Ann Klein   Charles O'Richter
1         Bailey Tipps      Emily McKnight
2         Bailey Tipps      Emily O"Knight
3         Bailey Tipps        Emily Knight
4        Kelly Johnson      Danielle Realí
5        Kelly Johnson      Danielle Reali
6   Charlotte Lipscomb     Weston Lipscomb
7            Drew Tate            Pat Tate
8        Kelly Johnson      Danielle Reali
9       Georganna Zaba        Trudy Tassin
10         Craig House          Grant Gold
11      Michele Eilers       Tiffany Berry
12          Gary Dolch      Michelle Dolch
13      Georganna Zaba      Brigitte Nolen
14      Victor Aguilar       Karla Aguilar
15         Mary Hickey        Trudy Tassin

In [90]:
res = []
for i in range(len(text)):
    if "ListAgentFullName" in text[i] and "CoListAgentFullName" in text[i]:
        res.append([text[i]["ListAgentFullName"], text[i]["CoListAgentFullName"]])
pd.DataFrame(res, columns = ["ListAgentFullName", "CoListAgentFullName"])

     ListAgentFullName CoListAgentFullName
0     Jeanne Ann Klein   Charles O'Richter
1         Bailey Tipps      Emily McKnight
2         Bailey Tipps      Emily O"Knight
3         Bailey Tipps        Emily Knight
4        Kelly Johnson      Danielle Realí
5        Kelly Johnson      Danielle Reali
6   Charlotte Lipscomb     Weston Lipscomb
7            Drew Tate            Pat Tate
8        Kelly Johnson      Danielle Reali
9       Georganna Zaba        Trudy Tassin
10         Craig House          Grant Gold
11      Michele Eilers       Tiffany Berry
12          Gary Dolch      Michelle Dolch
13      Georganna Zaba      Brigitte Nolen
14      Victor Aguilar       Karla Aguilar
15         Mary Hickey        Trudy Tassin