### Summary
1. Task: Build a person of interest identifier
2. 先整理:
    * message 斷句 "\n" --> 存成不同的 columns
    * 特別看 subject 內容，找 frequency


### Tips
1. 先用少部分的 data 做測試，然後再擴展到整個 dataset. 
e.g. data = pd.read_csv("file path", chunksize = 500), df = next(data)
2. 學習到怎麼處理 text data
    * 把一團 message 分成幾個 columns 儲存
    * 再深度地把那些 columns 的資料分別清理出有用的資料
    * 怎麼寫成一些 functions 去集體處理上述步驟?

In [170]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [171]:
chunk = pd.read_csv("/Users/eve/Desktop/Datasets/Eron_Email_Dataset/emails.csv", chunksize = 500)
data = next(chunk)
data.head(3)

                      file                                            message
0    allen-p/_sent_mail/1.  Message-ID: <18782981.1075855378110.JavaMail.e...
1   allen-p/_sent_mail/10.  Message-ID: <15464986.1075855378456.JavaMail.e...
2  allen-p/_sent_mail/100.  Message-ID: <24216240.1075855687451.JavaMail.e...

In [172]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
file       500 non-null object
message    500 non-null object
dtypes: object(2)
memory usage: 7.9+ KB

In [173]:
data.iloc[0]["file"]

'allen-p/_sent_mail/1.'

In [174]:
test = data.iloc[0]['message']
test

"Message-ID: <18782981.1075855378110.JavaMail.evans@thyme>\nDate: Mon, 14 May 2001 16:39:00 -0700 (PDT)\nFrom: phillip.allen@enron.com\nTo: tim.belden@enron.com\nSubject: \nMime-Version: 1.0\nContent-Type: text/plain; charset=us-ascii\nContent-Transfer-Encoding: 7bit\nX-From: Phillip K Allen\nX-To: Tim Belden <Tim Belden/Enron@EnronXGate>\nX-cc: \nX-bcc: \nX-Folder: \\Phillip_Allen_Jan2002_1\\Allen, Phillip K.\\'Sent Mail\nX-Origin: Allen-P\nX-FileName: pallen (Non-Privileged).pst\n\nHere is our forecast\n\n "

In [175]:
test.split("\n")

['Message-ID: <18782981.1075855378110.JavaMail.evans@thyme>',
 'Date: Mon, 14 May 2001 16:39:00 -0700 (PDT)',
 'From: phillip.allen@enron.com',
 'To: tim.belden@enron.com',
 'Subject: ',
 'Mime-Version: 1.0',
 'Content-Type: text/plain; charset=us-ascii',
 'Content-Transfer-Encoding: 7bit',
 'X-From: Phillip K Allen',
 'X-To: Tim Belden <Tim Belden/Enron@EnronXGate>',
 'X-cc: ',
 'X-bcc: ',
 "X-Folder: \\Phillip_Allen_Jan2002_1\\Allen, Phillip K.\\'Sent Mail",
 'X-Origin: Allen-P',
 'X-FileName: pallen (Non-Privileged).pst',
 '',
 'Here is our forecast',
 '',
 ' ']

### 取出 message 內容
Q1: 怎麼只取出 message content?

#### My method

In [176]:
empty_list = []
for i in range(len(data)):
    empty_list.append(data.iloc[i]["message"].split("\n"))

In [177]:
message = pd.DataFrame(empty_list)
message.head(3)

,0,1,2,3,4,5,6,7,8,9,...,265,266,267,268,269,270,271,272,273,274
0,Message-ID: <18782981.1075855378110.JavaMail.e...,"Date: Mon, 14 May 2001 16:39:00 -0700 (PDT)",From: phillip.allen@enron.com,To: tim.belden@enron.com,Subject:,Mime-Version: 1.0,Content-Type: text/plain; charset=us-ascii,Content-Transfer-Encoding: 7bit,X-From: Phillip K Allen,X-To: Tim Belden <Tim Belden/Enron@EnronXGate>,...,None,None,None,None,None,None,None,None,None,None
1,Message-ID: <15464986.1075855378456.JavaMail.e...,"Date: Fri, 4 May 2001 13:51:00 -0700 (PDT)",From: phillip.allen@enron.com,To: john.lavorato@enron.com,Subject: Re:,Mime-Version: 1.0,Content-Type: text/plain; charset=us-ascii,Content-Transfer-Encoding: 7bit,X-From: Phillip K Allen,X-To: John J Lavorato <John J Lavorato/ENRON@e...,...,None,None,None,None,None,None,None,None,None,None
2,Message-ID: <24216240.1075855687451.JavaMail.e...,"Date: Wed, 18 Oct 2000 03:00:00 -0700 (PDT)",From: phillip.allen@enron.com,To: leah.arsdall@enron.com,Subject: Re: test,Mime-Version: 1.0,Content-Type: text/plain; charset=us-ascii,Content-Transfer-Encoding: 7bit,X-From: Phillip K Allen,X-To: Leah Van Arsdall,...,None,None,None,None,None,None,None,None,None,None

#### Other's method
https://www.kaggle.com/jamestollefson/enron-network-analysis
1. 先單獨取出 message column，然後用 split("\n") 把資料取出來
2. 因為觀察到「信件主體大多出現在第十五個 row」，我們只保留第十五row「之後的內容」，存在另個 column 之中 = content
3. 分別取出 date, senders, recipients, subject，其中 senders & recipients 因為有一個以上的可能，需要分別處理

In [178]:
test = pd.read_csv("/Users/eve/Desktop/Datasets/Eron_Email_Dataset/emails.csv", chunksize = 500)
data = next(test)
data.head(2)

                     file                                            message
0   allen-p/_sent_mail/1.  Message-ID: <18782981.1075855378110.JavaMail.e...
1  allen-p/_sent_mail/10.  Message-ID: <15464986.1075855378456.JavaMail.e...

In [179]:
# 把沒有涵蓋'Message-ID: ', 'Date: ', 'From: ', 'To: ', 'Subject: '的 message 給刪掉
def standard_format(df, Series, string, slicer):
    """Drops rows containing messages without some specified value in the expected locations. 
    Returns original dataframe without these values. Don't forget to reindex after doing this!!!"""
    rows = []
    for row, message in enumerate(Series):
        message_words = message.split('\n')
        if string not in message_words[slicer]:
            rows.append(row)
    df = df.drop(df.index[rows])
    return df

In [180]:
x = len(data.index)
headers = ['Message-ID: ', 'Date: ', 'From: ', 'To: ', 'Subject: ']
for i, v in enumerate(headers):
    data = standard_format(data, data.message, v, i)
data = data.reset_index()
print("Got rid of {} useless emails! That's {}% of the total number of messages in this dataset.".format(x - len(data.index), np.round(((x - len(data.index)) / x) * 100, decimals=2)))

Got rid of 11 useless emails! That's 2.2% of the total number of messages in this dataset.

In [181]:
data.head(2)

,index,file,message
0,0,allen-p/_sent_mail/1.,Message-ID: <18782981.1075855378110.JavaMail.e...
1,1,allen-p/_sent_mail/10.,Message-ID: <15464986.1075855378456.JavaMail.e...

In [182]:
def get_text(Series, row_num_slicer):
    """returns a Series with text sliced from a list split from each message. Row_num_slicer
    tells function where to slice split text to find only the body of the message."""
    result = pd.Series(index=Series.index)
    for row, message in enumerate(Series):
        message_words = message.split('\n')
        del message_words[:row_num_slicer]
        result.iloc[row] = message_words
    return result

data['text'] = get_text(data.message, 15)
data.head(3)

,index,file,message,text
0,0,allen-p/_sent_mail/1.,Message-ID: <18782981.1075855378110.JavaMail.e...,"[, Here is our forecast, , ]"
1,1,allen-p/_sent_mail/10.,Message-ID: <15464986.1075855378456.JavaMail.e...,"[, Traveling to have a business meeting takes ..."
2,2,allen-p/_sent_mail/100.,Message-ID: <24216240.1075855687451.JavaMail.e...,"[, test successful. way to go!!!]"

In [183]:
def get_row(Series, row_num):
    """returns a single row split out from each message. Row_num is the index of the specific
    row that you want the function to return."""
    result = pd.Series(index=Series.index)
    for row, message in enumerate(Series):
        message_words = message.split('\n')
        message_words = message_words[row_num]
        result.iloc[row] = message_words
    return result

data['date'] = get_row(data.message, 1)
data.head(2)

,index,file,message,text,date
0,0,allen-p/_sent_mail/1.,Message-ID: <18782981.1075855378110.JavaMail.e...,"[, Here is our forecast, , ]","Date: Mon, 14 May 2001 16:39:00 -0700 (PDT)"
1,1,allen-p/_sent_mail/10.,Message-ID: <15464986.1075855378456.JavaMail.e...,"[, Traveling to have a business meeting takes ...","Date: Fri, 4 May 2001 13:51:00 -0700 (PDT)"

In [184]:
data['senders'] = get_row(data.message, 2)
data['recipients'] = get_row(data.message, 3)
data['subject'] = get_row(data.message, 4)

data.head(2)

,index,file,message,text,date,senders,recipients,subject
0,0,allen-p/_sent_mail/1.,Message-ID: <18782981.1075855378110.JavaMail.e...,"[, Here is our forecast, , ]","Date: Mon, 14 May 2001 16:39:00 -0700 (PDT)",From: phillip.allen@enron.com,To: tim.belden@enron.com,Subject:
1,1,allen-p/_sent_mail/10.,Message-ID: <15464986.1075855378456.JavaMail.e...,"[, Traveling to have a business meeting takes ...","Date: Fri, 4 May 2001 13:51:00 -0700 (PDT)",From: phillip.allen@enron.com,To: john.lavorato@enron.com,Subject: Re:

In [185]:
data.date = data.date.str.replace('Date: ', '')
data.date = pd.to_datetime(data.date)

data.head(2)

,index,file,message,text,date,senders,recipients,subject
0,0,allen-p/_sent_mail/1.,Message-ID: <18782981.1075855378110.JavaMail.e...,"[, Here is our forecast, , ]",2001-05-14 23:39:00,From: phillip.allen@enron.com,To: tim.belden@enron.com,Subject:
1,1,allen-p/_sent_mail/10.,Message-ID: <15464986.1075855378456.JavaMail.e...,"[, Traveling to have a business meeting takes ...",2001-05-04 20:51:00,From: phillip.allen@enron.com,To: john.lavorato@enron.com,Subject: Re:

In [186]:
data.subject = data.subject.str.replace('Subject: ', '')

data.head(2)

,index,file,message,text,date,senders,recipients,subject
0,0,allen-p/_sent_mail/1.,Message-ID: <18782981.1075855378110.JavaMail.e...,"[, Here is our forecast, , ]",2001-05-14 23:39:00,From: phillip.allen@enron.com,To: tim.belden@enron.com,
1,1,allen-p/_sent_mail/10.,Message-ID: <15464986.1075855378456.JavaMail.e...,"[, Traveling to have a business meeting takes ...",2001-05-04 20:51:00,From: phillip.allen@enron.com,To: john.lavorato@enron.com,Re:

In [187]:
import re

def get_address(df, Series, num_cols=1):
    """returns a specified email address from each row in a Series"""
    address = re.compile('[\w\.-]+@[\w\.-]+\.\w+')
    addresses = []
    result1 = pd.Series(index=df.index)
    result2 = pd.Series(index=df.index)
    result3 = pd.Series(index=df.index)
    for i in range(len(df)):
        for message in Series:
            correspondents = re.findall(address, message)
            addresses.append(correspondents)
            result1[i] = addresses[i][0]
        if num_cols >= 2:
            if len(addresses[i]) >= 3:
                result2[i] = addresses[i][1]
                if num_cols == 3:
                    if len(addresses[i]) >= 4:
                        result3[i] = addresses[i][2]
    return result1, result2, result3

data['recipient1'], data['recipient2'], data['recipient3'] = get_address(data, data.recipients, num_cols=3)
data['sender'], x, y = get_address(data, data.senders)

data.head(2)

,index,file,message,text,date,senders,recipients,subject,recipient1,recipient2,recipient3,sender
0,0,allen-p/_sent_mail/1.,Message-ID: <18782981.1075855378110.JavaMail.e...,"[, Here is our forecast, , ]",2001-05-14 23:39:00,From: phillip.allen@enron.com,To: tim.belden@enron.com,,tim.belden@enron.com,NaN,NaN,phillip.allen@enron.com
1,1,allen-p/_sent_mail/10.,Message-ID: <15464986.1075855378456.JavaMail.e...,"[, Traveling to have a business meeting takes ...",2001-05-04 20:51:00,From: phillip.allen@enron.com,To: john.lavorato@enron.com,Re:,john.lavorato@enron.com,NaN,NaN,phillip.allen@enron.com

In [188]:
del data['recipients']
del data['senders']
del data['file']
del data['message']

data = data[['date', 'sender', 'recipient1', 'recipient2', 'recipient3', 'subject', 'text']]
data.head(2)

,date,sender,recipient1,recipient2,recipient3,subject,text
0,2001-05-14 23:39:00,phillip.allen@enron.com,tim.belden@enron.com,NaN,NaN,,"[, Here is our forecast, , ]"
1,2001-05-04 20:51:00,phillip.allen@enron.com,john.lavorato@enron.com,NaN,NaN,Re:,"[, Traveling to have a business meeting takes ..."

### 自己實作別人的清理資料步驟
1. 先單獨取出 message column，然後用 split("\n") 把資料取出來
2. 因為觀察到「信件主體大多出現在第十五個 row」，我們只保留第十五row「之後的內容」，存在另個 column 之中 = content
3. 分別取出 date, senders, recipients, subject，其中 senders & recipients 因為有一個以上的可能，需要分別處理

In [189]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [190]:
chunk = pd.read_csv("/Users/eve/Desktop/Datasets/Eron_Email_Dataset/emails.csv", chunksize = 500)
df = next(chunk)
df.head(2)

                     file                                            message
0   allen-p/_sent_mail/1.  Message-ID: <18782981.1075855378110.JavaMail.e...
1  allen-p/_sent_mail/10.  Message-ID: <15464986.1075855378456.JavaMail.e...

In [191]:
df["message"][0].split("\n")

['Message-ID: <18782981.1075855378110.JavaMail.evans@thyme>',
 'Date: Mon, 14 May 2001 16:39:00 -0700 (PDT)',
 'From: phillip.allen@enron.com',
 'To: tim.belden@enron.com',
 'Subject: ',
 'Mime-Version: 1.0',
 'Content-Type: text/plain; charset=us-ascii',
 'Content-Transfer-Encoding: 7bit',
 'X-From: Phillip K Allen',
 'X-To: Tim Belden <Tim Belden/Enron@EnronXGate>',
 'X-cc: ',
 'X-bcc: ',
 "X-Folder: \\Phillip_Allen_Jan2002_1\\Allen, Phillip K.\\'Sent Mail",
 'X-Origin: Allen-P',
 'X-FileName: pallen (Non-Privileged).pst',
 '',
 'Here is our forecast',
 '',
 ' ']

In [192]:
# df = | Date | Sender | Recipient 1 | Recipient 2 | Recipient 3 | Subject | Content | 
def flatten_message1(data, row_index):
    result = []
    for i in range(len(data["message"])):
        result.append(data["message"][i].split("\n")[row_index])
    return result

In [193]:
def flatten_message2(data, row_index):
    return data.split("\n")[row_index]

In [194]:
# e.g. Date
# Method 1 - use apply
# df["Date"] = df["message"].apply(lambda x : x.split("\n")[1])

# Method 2 - use self-defined function
# d = flatten_message1(df, 1)
# df["Date"] = d

# Method 3 - self-defined function & apply
df["Date"] = df["message"].apply(lambda x : flatten_message2(x, 1))
df.head(2)

,file,message,Date
0,allen-p/_sent_mail/1.,Message-ID: <18782981.1075855378110.JavaMail.e...,"Date: Mon, 14 May 2001 16:39:00 -0700 (PDT)"
1,allen-p/_sent_mail/10.,Message-ID: <15464986.1075855378456.JavaMail.e...,"Date: Fri, 4 May 2001 13:51:00 -0700 (PDT)"

In [195]:
df["Sender"] = df["message"].apply(lambda x : flatten_message2(x, 2))
df["Recipients"] = df["message"].apply(lambda x : flatten_message2(x, 3))
df["Subject"] = df["message"].apply(lambda x : flatten_message2(x, 4))
df["Content"] = df["message"].apply(lambda x : x.split("\n")[15:])
df.head(2)

,file,message,Date,Sender,Recipients,Subject,Content
0,allen-p/_sent_mail/1.,Message-ID: <18782981.1075855378110.JavaMail.e...,"Date: Mon, 14 May 2001 16:39:00 -0700 (PDT)",From: phillip.allen@enron.com,To: tim.belden@enron.com,Subject:,"[, Here is our forecast, , ]"
1,allen-p/_sent_mail/10.,Message-ID: <15464986.1075855378456.JavaMail.e...,"Date: Fri, 4 May 2001 13:51:00 -0700 (PDT)",From: phillip.allen@enron.com,To: john.lavorato@enron.com,Subject: Re:,"[, Traveling to have a business meeting takes ..."

In [196]:
df["Date"] = df["Date"].str.replace("Date: ", "")
df["Date"] = pd.to_datetime(df["Date"])

df["Subject"] = df["Subject"].str.replace("Subject: ", "")
df.head(2)

,file,message,Date,Sender,Recipients,Subject,Content
0,allen-p/_sent_mail/1.,Message-ID: <18782981.1075855378110.JavaMail.e...,2001-05-14 23:39:00,From: phillip.allen@enron.com,To: tim.belden@enron.com,,"[, Here is our forecast, , ]"
1,allen-p/_sent_mail/10.,Message-ID: <15464986.1075855378456.JavaMail.e...,2001-05-04 20:51:00,From: phillip.allen@enron.com,To: john.lavorato@enron.com,Re:,"[, Traveling to have a business meeting takes ..."

In [227]:
# 額外清理 Sender & Recipients
# a = re.compile('[\w\.-]+@[\w\.-]+\.\w+')
a = re.compile('[\w\.]+@[\w\.]+\.\w+')
text = df["Sender"][0]
text

'From: phillip.allen@enron.com'

In [228]:
re.findall(a, text)

['phillip.allen@enron.com']

In [237]:
test = df["Recipients"][6]
test

'To: david.l.johnson@enron.com, john.shafer@enron.com'

In [238]:
df["Recipients"] = df["Recipients"].str.replace("To: ", "")
df.head(2)

,file,message,Date,Sender,Recipients,Subject,Content
0,allen-p/_sent_mail/1.,Message-ID: <18782981.1075855378110.JavaMail.e...,2001-05-14 23:39:00,From: phillip.allen@enron.com,tim.belden@enron.com,,"[, Here is our forecast, , ]"
1,allen-p/_sent_mail/10.,Message-ID: <15464986.1075855378456.JavaMail.e...,2001-05-04 20:51:00,From: phillip.allen@enron.com,john.lavorato@enron.com,Re:,"[, Traveling to have a business meeting takes ..."

In [242]:
res = []
for i in range(len(df)):
    r = df["Recipients"][i].split(",")
    if len(r) == 1:
        res.append(r)
res

[['tim.belden@enron.com'],
 ['john.lavorato@enron.com'],
 ['leah.arsdall@enron.com'],
 ['randall.gay@enron.com'],
 ['greg.piper@enron.com'],
 ['greg.piper@enron.com'],
 ['joyce.teixeira@enron.com'],
 ['mark.scott@enron.com'],
 ['zimam@enron.com'],
 ['buck.buckner@honeywell.com'],
 ['stagecoachmama@hotmail.com'],
 ['keith.holst@enron.com'],
 ['keith.holst@enron.com'],
 ['david.delainey@enron.com'],
 ['paula.harris@enron.com'],
 ['ina.rangel@enron.com'],
 ['tim.heizenrader@enron.com'],
 ['pallen70@hotmail.com'],
 ['ina.rangel@enron.com'],
 ['bs_stone@yahoo.com'],
 ['stouchstone@natsource.com'],
 ['bs_stone@yahoo.com'],
 ['lkuch@mh.com'],
 ['jeffrey.hodge@enron.com'],
 ['kholst@enron.com'],
 ['pallen70@hotmail.com'],
 ['ina.rangel@enron.com'],
 ['rlehmann@yahoo.com'],
 ['cindy.cicchetti@enron.com'],
 ['ina.rangel@enron.com'],
 ['ina.rangel@enron.com'],
 ['jsmith@austintx.com'],
 ['christopher.calger@enron.com'],
 ['ina.rangel@enron.com'],
 ['ina.rangel@enron.com'],
 ['muller@thedoghousemail.com'],
 ['kathy.moore@enron.com'],
 ['john.lavorato@enron.com'],
 ['james.steffes@enron.com'],
 ['cbpres@austin.rr.com'],
 ['pallen70@hotmail.com'],
 ['cbpres@austin.rr.com'],
 ['jsmith@austintx.com'],
 ['jsmith@austintx.com'],
 ['stagecoachmama@hotmail.com'],
 ['bs_stone@yahoo.com'],
 ['stagecoachmama@hotmail.com'],
 ['moshuffle@hotmail.com'],
 ['tori.kuykendall@enron.com'],
 ['keith.holst@enron.com'],
 ['jsmith@austintx.com'],
 ['john.lavorato@enron.com'],
 ['frank.hayden@enron.com'],
 ['jsmith@austintx.com'],
 ['pallen70@hotmail.com'],
 ['pallen70@hotmail.com'],
 ['pallen70@hotmail.com'],
 ['ina.rangel@enron.com'],
 ['retwell@sanmarcos.net'],
 ['ina.rangel@enron.com'],
 ['ina.rangel@enron.com'],
 ['ina.rangel@enron.com'],
 ['john.lavorato@enron.com'],
 ['ina.rangel@enron.com'],
 ['dexter@intelligencepress.com'],
 ['rich@pira.com'],
 ['cooper.richey@enron.com'],
 ['ina.rangel@enron.com'],
 ['ina.rangel@enron.com'],
 ['debe@fsddatasvc.com'],
 ['kolinge@enron.com'],
 ['muller@thedoghousemail.com'],
 ['cindy.long@enron.com'],
 ['mark@intelligencepress.com'],
 ['mark@intelligencepress.com'],
 ['bs_stone@yahoo.com'],
 ['mark@intelligencepress.com'],
 ['mark@intelligencepress.com'],
 ['alan.comnes@enron.com'],
 ['suzanne.nicholie@enron.com'],
 ['colleen.sullivan@enron.com'],
 ['brad.mcsherry@enron.com'],
 ['bruce.ferrell@enron.com'],
 ['stagecoachmama@hotmail.com'],
 ['stagecoachmama@hotmail.com'],
 ['ina.rangel@enron.com'],
 ['stagecoachmama@hotmail.com'],
 ['stagecoachmama@hotmail.com'],
 ['stagecoachmama@hotmail.com'],
 ['keith.holst@enron.com'],
 ['mac.d.hargrove@rssmb.com'],
 ['pallen70@hotmail.com'],
 ['pallen70@hotmail.com'],
 ['pallen70@hotmail.com'],
 ['mac.d.hargrove@rssmb.com'],
 ['cooper.richey@enron.com'],
 ['ina.rangel@enron.com'],
 ['cooper.richey@enron.com'],
 ['cooper.richey@enron.com'],
 ['stephanie.sever@enron.com'],
 ['keith.holst@enron.com'],
 ['stephen.harrington@enron.com'],
 ['sunil.dalal@enron.com'],
 ['keith.holst@enron.com'],
 ['colleen.sullivan@enron.com'],
 ['stagecoachmama@hotmail.com'],
 ['ina.rangel@enron.com'],
 ['ina.rangel@enron.com'],
 ['barry.steinhart@enron.com'],
 ['matt.smith@enron.com'],
 ['stagecoachmama@hotmail.com'],
 ['outlook.team@enron.com'],
 ['lisa.jones@enron.com'],
 ['hunter.shively@enron.com'],
 ['chris.gaskill@enron.com'],
 ['john.lavorato@enron.com'],
 ['stagecoachmama@hotmail.com'],
 ['ywang@enron.com'],
 ['frank.ermis@enron.com'],
 ['stagecoachmama@hotmail.com'],
 ['mac.d.hargrove@rssmb.com'],
 ['tim.heizenrader@enron.com'],
 ['hunter.shively@enron.com'],
 ['al.pollard@enron.com'],
 ['paul.lucci@enron.com'],
 ['hargr@webtv.net'],
 ['keith.holst@enron.com'],
 ['randall.gay@enron.com'],
 ['ina.rangel@enron.com'],
 ['jsmith@austintx.com'],
 ['celeste.roberts@enron.com'],
 ['al.pollard@enron.com'],
 ['ywang@enron.com'],
 ['brendas@surffree.com'],
 ['ina.rangel@enron.com'],
 ['ina.rangel@enron.com'],
 ['al.pollard@enron.com'],
 ['brendas@tgn.net'],
 ['jsmith@austintx.com'],
 ['gary@creativepanel.com'],
 ['gary.taylor@enron.com'],
 ['felix.buitron@enron.com'],
 ['tim.belden@enron.com'],
 ['ina.rangel@enron.com'],
 ['stagecoachmama@hotmail.com'],
 ['ina.rangel@enron.com'],
 ['kenneth.shulklapper@enron.com'],
 ['stouchstone@natsource.com'],
 ['stouchstone@natsource.com'],
 ['ray.alvarez@enron.com'],
 ['keith.holst@enron.com'],
 ['torrey.moorer@enron.com'],
 ['scott.carter@chase.com'],
 ['stagecoachmama@hotmail.com'],
 ['matthew.lenhart@enron.com'],
 ['matthew.lenhart@enron.com'],
 ['jeff.richter@enron.com'],
 ['jeff.richter@enron.com'],
 ['robert.badeer@enron.com'],
 ['ned.higgins@enron.com'],
 ['felix.buitron@enron.com'],
 ['stagecoachmama@hotmail.com'],
 ['jsmith@austintx.com'],
 ['al.pollard@enron.com'],
 ['jeffrey.gossett@enron.com'],
 ['maryrichards7@hotmail.com'],
 ['hunter.shively@enron.com'],
 ['stagecoachmama@hotmail.com'],
 ['stagecoachmama@hotmail.com'],
 ['tara.sweitzer@enron.com'],
 ['john.lavorato@enron.com'],
 ['jsmith@austintx.com'],
 ['tim.belden@enron.com'],
 ['dawn.kenne@enron.com'],
 ['Subject: Re: DSL- Installs'],
 ['kenneth.shulklapper@enron.com'],
 ['laird.dyer@enron.com'],
 ['hargr@webtv.net'],
 ['ina.rangel@enron.com'],
 ['hector.campos@enron.com'],
 ['ray.alvarez@enron.com'],
 ['hargr@webtv.net'],
 ['maryrichards7@hotmail.com'],
 ['david.wile@enron.com'],
 ['suzanne.marshall@enron.com'],
 ['mike.grigsby@enron.com'],
 ['beth.perlman@enron.com'],
 ['jsmith@austintx.com'],
 ['mac.d.hargrove@rssmb.com'],
 ['mac05@flash.net'],
 ['gary@creativepanel.com'],
 ['jsmith@austintx.com'],
 ['tara.sweitzer@enron.com'],
 ['maryrichards7@hotmail.com'],
 ['keith.holst@enron.com'],
 ['mark.miles@enron.com'],
 ['ina.rangel@enron.com'],
 ['stephane.brodeur@enron.com'],
 ['brian.hoskins@enron.com'],
 ['keith.holst@enron.com'],
 ['maryrichards7@hotmail.com'],
 ['eric.benson@enron.com'],
 ['steven.south@enron.com'],
 ['fletcher.sturm@enron.com'],
 ['dwagman@ftenergy.com'],
 ['ina.rangel@enron.com'],
 ['maryrichards7@hotmail.com'],
 ['monique.sanchez@enron.com'],
 ['maryrichards7@hotmail.com'],
 ['jsmith@austintx.com'],
 ['stephen.wolfe@enron.com'],
 ['maryrichards7@hotmail.com'],
 ['jsmith@austintx.com'],
 ['maryrichards7@hotmail.com'],
 ['jim.brysch@enron.com'],
 ['mike.grigsby@enron.com'],
 ['maryrichards7@hotmail.com'],
 ['matthew.lenhart@enron.com'],
 ['imelda.frayre@enron.com'],
 ['maryrichards7@hotmail.com'],
 ['frank.hayden@enron.com'],
 ['maryrichards7@hotmail.com'],
 ['jsmith@austintx.com'],
 ['mike.grigsby@enron.com'],
 ['tara.sweitzer@enron.com'],
 ['maryrichards7@hotmail.com'],
 ['maryrichards7@hotmail.com'],
 ['hunter.shively@enron.com'],
 ['mike.grigsby@enron.com'],
 ['keith.holst@enron.com'],
 ['keith.holst@enron.com'],
 ['jsmith@austintx.com'],
 ['william.kelly@enron.com'],
 ['george.rahal@acnpower.com'],
 ['kimberly.olinger@enron.com'],
 ['robert.superty@enron.com'],
 ['william.kelly@enron.com'],
 ['pallen70@hotmail.com'],
 ['jim.brysch@enron.com'],
 ['tara.sweitzer@enron.com'],
 ['julie.gomez@enron.com'],
 ['candace.womack@enron.com'],
 ['mike.grigsby@enron.com'],
 ['julie.gomez@enron.com'],
 ['pallen70@hotmail.com'],
 ['william.kelly@enron.com'],
 ['tara.sweitzer@enron.com'],
 ['slewis2@enron.com'],
 ['brenda.flores-cuellar@enron.com'],
 ['stouchstone@natsource.com'],
 ['mary.gray@enron.com'],
 ['brenda.flores-cuellar@enron.com'],
 ['maryrichards7@hotmail.com'],
 ['maryrichards7@hotmail.com'],
 ['patti99@hotmail.com'],
 ['pallen70@hotmail.com'],
 ['naomi.johnston@enron.com'],
 ['tim.belden@enron.com'],
 ['outlook.team@enron.com'],
 ['jsmith@austintx.com'],
 ['jsmith@austintx.com'],
 ['andrea.richards@enron.com'],
 ['keith.holst@enron.com'],
 ['john.lavorato@enron.com'],
 ['tim.heizenrader@enron.com'],
 ['rlehmann@yahoo.com'],
 ['james.steffes@enron.com'],
 ['tori.kuykendall@enron.com'],
 ['matthew.lenhart@enron.com'],
 ['ina.rangel@enron.com'],
 ['ina.rangel@enron.com'],
 ['alan.comnes@enron.com'],
 ['keith.holst@enron.com'],
 ['keith.holst@enron.com'],
 ['tim.heizenrader@enron.com'],
 ['gary@creativepanel.com'],
 ['ray.alvarez@enron.com'],
 ['andrea.richards@enron.com'],
 ['ned.higgins@enron.com'],
 ['john.lavorato@enron.com'],
 ['ray.alvarez@enron.com'],
 ['gary@creativepanel.com'],
 ['frank.hayden@enron.com'],
 ['jsmith@austintx.com'],
 ['mike.grigsby@enron.com'],
 ['mary.gray@enron.com'],
 ['karen.buckley@enron.com'],
 ['andrea.richards@enron.com'],
 ['matthew.lenhart@enron.com'],
 ['andrea.richards@enron.com'],
 ['johnniebrown@juno.com'],
 ['ina.rangel@enron.com'],
 ['chad.landry@enron.com'],
 ['jsmith@austintx.com'],
 ['karen.buckley@enron.com'],
 ['johnniebrown@juno.com'],
 ['jsmith@austintx.com'],
 ['jsmith@austintx.com'],
 ['john.lavorato@enron.com'],
 ['jsmith@austintx.com'],
 ['llewter@austin.rr.com'],
 ['stagecoachmama@hotmail.com'],
 ['nicholasnelson@centurytel.net'],
 ['jsmith@austintx.com'],
 ['julie.pechersky@enron.com'],
 ['mike.grigsby@enron.com'],
 ['stagecoachmama@hotmail.com'],
 ['jhershey@sempratrading.com'],
 ['jhershey@sempratrading.com'],
 ['mark.taylor@enron.com'],
 ['rlehmann@yahoo.com'],
 ['jacquestc@aol.com'],
 ['john.lavorato@enron.com'],
 ['rlehmann@yahoo.com'],
 ['ina.rangel@enron.com'],
 ['ina.rangel@enron.com'],
 ['jacquestc@aol.com'],
 ['sara.solorio@enron.com'],
 ['monique.sanchez@enron.com'],
 ['pallen70@hotmail.com'],
 ['jacquestc@aol.com'],
 ['rlehmann@yahoo.com'],
 ['scfatkfa@caprock.net'],
 ['scfatkfa@caprock.net'],
 ['scsatkfa@caprock.net'],
 ['scsatkfa@caprock.net'],
 ['chad.landry@enron.com'],
 ['barry.tycholiz@enron.com'],
 ['rlehmann@yahoo.com'],
 ['llewter@austin.rr.com'],
 ['jacquestc@aol.com'],
 ['dennisjr@ev1.net'],
 ['denisjr@ev1.net'],
 ['gthorse@keyad.com'],
 ['mary.gray@enron.com'],
 ['john.lavorato@enron.com'],
 ['rlehmann@yahoo.com'],
 ['jsmith@austintx.com'],
 ['gthorse@keyad.com'],
 ['jess.hewitt@enron.com'],
 ['jacquestc@aol.com'],
 ['stouchstone@natsource.com'],
 ['llewter@austin.rr.com'],
 ['gthorse@keyad.com'],
 ['jacquestc@aol.com'],
 ['ina.rangel@enron.com'],
 ['jacquestc@aol.com'],
 ['karen.buckley@enron.com'],
 ['llewter@austin.rr.com'],
 ['jacquestc@aol.com'],
 ['matt.smith@enron.com'],
 ['stagecoachmama@hotmail.com'],
 ['todd.burke@enron.com'],
 ['jeff.richter@enron.com'],
 ['kim.bolton@enron.com'],
 ['gthorse@keyad.com'],
 ['stagecoachmama@hotmail.com'],
 ['pallen70@hotmail.com'],
 ['jsmith@austintx.com'],
 ['pallen70@hotmail.com'],
 ['pallen70@hotmail.com'],
 ['jacquestc@aol.com'],
 ['jacquestc@aol.com'],
 ['tori.kuykendall@enron.com'],
 ['cbpres@austin.rr.com'],
 ['matt.smith@enron.com'],
 ['stagecoachmama@hotmail.com'],
 ['information.management@enron.com'],
 ['gthorse@keyad.com'],
 ['djack@keyad.com'],
 ['robert.badeer@enron.com'],
 ['rlehmann@yahoo.com'],
 ['jsmith@austintx.com'],
 ['jsmith@austintx.com'],
 ['djack@stic.net'],
 ['al.pollard@enron.com'],
 ['john.lavorato@enron.com'],
 ['cbpres@austin.rr.com'],
 ['jsmith@austintx.com'],
 ['cbpres@austin.rr.com'],
 ['jim123@pdq.net'],
 ['angela.collins@enron.com'],
 ['don.black@enron.com'],
 ['mike.grigsby@enron.com'],
 ['bnelson@situscos.com'],
 ['stagecoachmama@hotmail.com'],
 ['cbpres@austin.rr.com'],
 ['cbpres@austin.rr.com'],
 ['keith.holst@enron.com'],
 ['barry.tycholiz@enron.com'],
 ['cbpres@austin.rr.com'],
 ['pallen70@hotmail.com'],
 ['cbpres@austin.rr.com'],
 ['keith.holst@enron.com'],
 ['keith.holst@enron.com'],
 ['tara.piazze@enron.com'],
 ['keith.holst@enron.com'],
 ['john.lavorato@enron.com'],
 ['scott.tholan@enron.com'],
 ['body.shop@enron.com'],
 ['jacquestc@aol.com'],
 ['frank.hayden@enron.com'],
 ['pallen70@hotmail.com'],
 ['stagecoachmama@hotmail.com'],
 ['jacquestc@aol.com'],
 ['cbpres@austin.rr.com'],
 ['jeanie.slone@enron.com'],
 ['pallen70@hotmail.com'],
 ['pallen70@hotmail.com'],
 ['john.lavorato@enron.com'],
 ['christi.nicolay@enron.com'],
 ['cbpres@austin.rr.com'],
 ['andrew_m_ozuna@mail.bankone.com'],
 ['lodonnell@spbank.com'],
 ['jsmith@austintx.com'],
 ['johnny.palmer@enron.com'],
 ['stagecoachmama@hotmail.com'],
 ['lodonnell@spbank.com'],
 ['stagecoachmama@hotmail.com'],
 ['stouchstone@natsource.com'],
 ['muller@thedoghousemail.com'],
 ['tim.belden@enron.com'],
 ['colleen.sullivan@enron.com'],
 ['mark.whitt@enron.com'],
 ['frank.ermis@enron.com'],
 ['frank.ermis@enron.com'],
 ['stagecoachmama@hotmail.com'],
 ['gallen@thermon.com'],
 ['stagecoachmama@hotmail.com'],
 ['jsmith@austintx.com'],
 ['jacquestc@aol.com'],
 ['stagecoachmama@hotmail.com'],
 ['mike.grigsby@enron.com'],
 ['bridgette.anderson@enron.com'],
 ['jsmith@austintx.com'],
 ['jsmith@austintx.com'],
 ['susan.scott@enron.com'],
 ['mike.grigsby@enron.com'],
 ['pallen@hotmail.com'],
 ['stagecoachmama@hotmail.com'],
 ['jacquestc@aol.com'],
 ['ina.rangel@enron.com'],
 ['cbpres@austin.rr.com'],
 ['info@geoswan.com'],
 ['jeff.richter@enron.com'],
 ['jeff.richter@enron.com'],
 ['8774820206@pagenetmessage.net'],
 ['jsmith@austintx.com'],
 ['stagecoachmama@hotmail.com'],
 ['pallen70@hotmail.com'],
 ['mike.grigsby@enron.com'],
 ['cbpres@austin.rr.com'],
 ['pallen70@hotmail.com'],
 ['jsmith@austintx.com'],
 ['kholst@enron.com'],
 ['cbpres@austin.rr.com'],
 ['dexter@intelligencepress.com'],
 ['mary.gray@enron.com'],
 ['patti.sullivan@enron.com'],
 ['andrea.richards@enron.com'],
 ['nick.politis@enron.com'],
 ['pallen70@hotmail.com'],
 ['stagecoachmama@hotmail.com']]